#end-view #restart {
    margin-left: 48%;
    justify-content: center;
    float: inherit;
    display: inline-block;
}

#end-view h2 {
    font-family: Gotham;
    text-align: center;
    color: white;
    font-size: 6rem;
    margin-bottom: 0;
}
