#canvas {
  background-color: white;
  margin-bottom: 2em;
  border-radius: 3px;
  border-style: outset;
}

#input {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  border-style: inset;
}
#start {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  background-color: white;
}
#big {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  background-color: white;
}
#small {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  background-color: white;
}

button {
  margin: 2% auto;
  float: inherit;
  display: inline-block;
}

#xAxis {
  display: block;
}

#yAxis {
  display: block;
}

#grid {
  margin: 0 auto;
  text-align: center;
}

.row {
  width: 2em;
  height: 2em;
  margin: 0;
  display: inline-block;
  border: 1px solid white;

}
.cell {
  width: 2em;
  height: 2em;
  margin: 0;
  display: inline-block;
  border: 1px solid white;

}
