body {
  background-color: lightblue;
  font: Gotham; }

#player-view {
  width: 100%;
  margin: 0 auto; }
  #player-view #player-name {
    text-align: center; }

#ul {
  font-family: Gotham;
  color: white;
  text-align: center; }

#keys {
  margin: 4px;
  text-align: center; }

#xAxis {
  margin-top: 1% auto;
  display: inline-block;
  text-align: center;
  color: black;
  font-family: Gotham; }

#yAxis {
  margin-top: 1% auto;
  display: inline-block;
  text-align: center;
  color: black;
  font-family: Gotham; }

#canvas {
  background-color: white;
  margin-bottom: 2em;
  border-radius: 3px;
  border-style: outset; }

#input {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  border-style: inset; }

#start {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  background-color: white; }

#big {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  background-color: white; }

#small {
  border-radius: 3px;
  padding: 2%;
  font-family: Gotham;
  background-color: white; }

button {
  margin: 2% auto;
  float: inherit;
  display: inline-block; }

#xAxis {
  display: block; }

#yAxis {
  display: block; }

#canvas {
  margin: 0 auto;
  width: 50%;
  display: block; }

#end-view #restart {
  margin-left: 48%;
  justify-content: center;
  float: inherit;
  display: inline-block; }

#end-view h2 {
  font-family: Gotham;
  text-align: center;
  color: white;
  font-size: 6rem;
  margin-bottom: 0; }

.hidden {
  display: none; }
